.grid-container {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: auto auto;
    @media (max-width: 768px) {
        grid-template-columns: auto;
    }
}

.grid-item {
    height: 100vh;
    background: #fff
}

.login-bg {
    background-image: url(/assets/images/login-bg.jpg);
    background-size: 100% 100%;
    position: relative;
}

.login-section {
    position: relative;
}

.login-text {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.login-set {
    width: 80%;
    .login-logo-txt {
        font-size: 22px;
        margin-bottom: 30px;
        @media (max-width: 812px) and (min-width: 768px) {
            margin-bottom: 20px;
        }
        @media (max-width: 812px) {
            font-size: 18px;
        }
    }
    .form-group,
    button {
        width: 100%;
        margin-bottom: 30px;
        @media (max-width: 812px) and (min-width: 768px) {
            margin-bottom: 20px;
        }
        .mat-form-field {
            width: 100%;
        }
        button {
            background-color: #083679;
            color: #fff;
            padding: 5px;
        }
    }
    .error-msg {
        color: #a94442;
        font-size: 12px;
        margin-top: -10px;
        background-color: #f2dede;
        border: 1px solid #ebccd1;
        padding: 5px;
        border-radius: 2px;
        display: inline-block;
    }
}

.mobile-hide {
    display: block;
}

.web-hide {
    display: none;
}

@media (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
    .web-hide {
        display: block;
    }
}

@media (max-width: 812px) {
    .login-logo {
        img {
            width: 100%;
        }
    }
}