<div class="layout">
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="page-heading mb20">Create Job</div>
    <div class="clearfix"></div>
    <form name="createjobform" [formGroup]="createJobForm">
        <div class="grid-container">
            <div class="grid-item">
                <mat-form-field>
                    <input type="text" matInput placeholder="Job name" formControlName="name" class="form-control" />
                </mat-form-field>
            </div>
            <div class="grid-item">
                <div class="upload-btn-wrapper">
                    <button class="btn"><mat-icon  class="pull-left">file_upload</mat-icon> <div class="pull-left">Upload a file</div></button>
                    <input #fileInput type="file" name="jobfiles" (click)="fileInput.value = null" value="" (change)="uploadFile($event)" />
                </div>
                <div *ngIf="fileName">
                    <div class="pull-left">{{fileName}}</div>
                </div>
            </div>
            <div class="grid-item">
                <mat-form-field>
                    <input type="text" matInput placeholder="Arguments" formControlName="arguments" class="form-control" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <span class="fill-space"></span>

            <button mat-button class="mr20 btn-cancel" (click)="navigateToListViewUrl()">Cancel</button>
            <button mat-button class="btn-create" (click)="createjob()">Create Job</button>
        </div>
    </form>
</div>