<form name="createjobform" [formGroup]="createJobForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field>
            <input type="text" matInput placeholder="Job name" formControlName="jobname" class="form-control" />
        </mat-form-field>
        <!-- <input type="text" matInput placeholder="upload file" formControlName="uploadfile" class="form-control" /> -->
        <input #fileInput type="file" name="thumbnailfiles" (click)="fileInput.value = null" value="" (change)="uploadThumbnailDatasource($event)" multiple/>
        <mat-form-field>
            <input type="text" matInput placeholder="Arguments" formControlName="arguments" class="form-control" />
        </mat-form-field>
    </div>
    <div>
        <button mat-button>cancel</button>
        <button mat-button>create job</button>
    </div>
</form>