<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div>
    <button mat-button (click)="createJob()"><mat-icon>add</mat-icon>Create Job</button>
</div>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- sno Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- error records Column -->
    <ng-container matColumnDef="no_of_error_records">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No of error records </th>
        <td mat-cell *matCellDef="let element"> {{element.no_of_error_records}} </td>
    </ng-container>

    <!-- input records Column -->
    <ng-container matColumnDef="no_of_input_records">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No of input records </th>
        <td mat-cell *matCellDef="let element"> {{element.no_of_input_records}} </td>
    </ng-container>

    <!-- output records Column -->
    <ng-container matColumnDef="no_of_output_records">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No of output records </th>
        <td mat-cell *matCellDef="let element"> {{element.no_of_output_records}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>